<nav class="navbar">
  <ul class="navmenu">
    <li>
      <a href="/mail" <%= locals.active === 'mail' ? 'class=active' : '' %> >Mail</a>
    </li>
    <li>
      <a href="/sign-up" <%= locals.active === 'signup' ? 'class=active' : '' %> >Sign Up</a>
    </li>
    <li>
      <a href="/sign-in" <%= locals.active === 'singin' ? 'class=active' : '' %> >Sign In</a>
    </li>
    <li>
      <a href="/users" >Users</a>
    </li>
    <li>
      <a href="/auth/logout" >Logout</a>
    </li>
  </ul>
</nav>