<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('shared/styles') %>
    <title>Mail Sender - Sing Up</title>
  </head>
  <body>
    <%- include('shared/navbar', {active: "signup"}); %>
    <main class="container">
      <h1>Create New Account</h1>
      <form action="/auth/register?redirect=/" method="post" class="form">
        <input type="email" name="email" placeholder="Your Email.." />
        <input type="text" name="username" placeholder="Your Username.." />
        <input type="password" name="password" placeholder="Your Password.." />
        <button type="submit">Sign Up</button>
      </form>
    </main>
  </body>
</html>
